#mainNav a {
    color: white;
}

.navbar-shrink {
    background: white;
}

#mainNav .colorize {
    color: black;
}

.navbar-toggler {
    background: white;
}

.navbar-brand {
    font-family: Monotype Corsiva;
    font-size: 2rem;
}

.selected {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

@media (max-width:992px) {
    #mainNav {
        background-color: white;
    }
    #mainNav a {
        color: black;
    }
}

#screen1 {
    color: white;
    background-color: #4a5964;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

#screen1 img {
    height: 30rem;
    margin-bottom: -15rem;
}

.screen1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#screen2 {
    color: white;
    background-color: #eaeaea;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

#screen2 img {
    height: 5rem;
}

.screen2-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#screen3 {
    /* background: tomato; */
    padding-top: 2rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
    color: #7d8f9b;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    color: grey;
}

#screen4 {
    /* background: burlywood; */
    margin-top: 4rem;
    padding-bottom: 4rem;
}

#screen4 h2 {
    color: #7d8f9b;
}

.content4 {
    display: flex;
    flex-direction: row;
}

#screen5 h2 {
    color: #7d8f9b;
}

.news {
    margin-top: 1rem;
}

.news h4 {
    color: rgb(114, 114, 114);
}

.news span {
    color: grey;
}

.news p {
    color: rgb(189, 189, 189);
}

.news a {
    text-decoration: none
}

.news-img {
    margin-right: 2rem;
    width: 15rem;
    height: 100%;
    display: flex;
    align-self: center;
}

.tweet {
    margin-top: 1rem;
}

.tweet-text {
    color: grey;
}

.tweet p {
    color: rgb(189, 189, 189);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-content span {
    color: grey;
}

.footer-content img {
    width: 2rem;
}