body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 90vw;
    z-index: 99;
    padding: 0 5vw;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-brand {
    font-family: Monotype Corsiva;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    align-self: center;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-nav li {
    float: left;
}

.navbar-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.button-nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    background: white;
    border: none;
    padding: 14px 16px;
}

.navbar-toggler:hover {
    background: rgba(0, 0, 0, 0.2);
}

.navbar-scrolled {
    background: white;
}

#mainNav .colorize {
    color: black;
}

@media (max-width:800px) {
    #mainNav {
        background-color: white;
    }
    #mainNav a {
        color: black;
    }
}

#screenHome {
    padding-top: 5rem;
    color: white;
    background-color: #4a5964;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.half-cut-phone {
    height: 30rem;
    margin-bottom: -15rem;
}

.home-info {
    margin-bottom: 3rem;
}

.quote-button {
    background: #3e96d2;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#screenBrands {
    color: white;
    background-color: #eaeaea;
    width: 100%;
    height: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;
}

.brand-image {
    height: 5rem;
}

#screenAbout {
    padding-top: 3rem;
}

.marketing-feature {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing-image {
    width: 140px;
    height: 140px;
}

.marketing-heading {
    font-weight: 400;
    color: #7d8f9b;
}

.marketing-text {
    color: grey;
}

.marketing-button {
    background: #3e96d2;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.2rem;
}

#screenWork {
    padding-top: 3rem;
}

.work-header {
    color: #7d8f9b;
}

#screenContact {
    padding-top: 3rem;
}

.section-header {
    color: #7d8f9b;
}

.news {
    margin-top: 1rem;
}

.news-header {
    color: rgb(114, 114, 114);
}

.news-text {
    color: grey;
}

.date-text {
    color: rgb(189, 189, 189);
}

.contact-section-link {
    text-decoration: none;
    color: rgb(34, 130, 185);
}

.news-img {
    /* margin-right: 2rem; */
    /* width: 5rem; */
    /* height: 100%; */
    display: flex;
    align-self: center;
}

.tweet {
    margin-top: 1rem;
}

.tweet-text {
    color: grey;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-content-copyright {
    color: grey;
}

.footer-soc-med-img {
    width: 2rem;
}