.navbar-brand {
    color: white;
}

.navbar-shrink {
    background: white;
}

#mainNav .colorize {
    color: black;
}

.navbar-toggler {
    background: white;
}

.navbar-brand {
    font-family: Monotype Corsiva;
    font-size: 2rem;
}

.selected {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

@media (max-width:992px) {
    #mainNav {
        background-color: white;
    }
    #mainNav a {
        color: black;
    }
}

#screenHome {
    padding-top: 5rem;
    color: white;
    background-color: #4a5964;
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.half-cut-phone{
    height: 30rem;
    margin-bottom: -15rem;
}



#screenBrands {
    color: white;
    background-color: #eaeaea;
    width: 100%;
    height: max-content;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:1rem 0 1rem 0;
}

.brand-image {
    height: 5rem;
}


#screenAbout {
    /* background: tomato; */
    padding-top: 2rem;
}

.marketing-feature {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing-image{
    width: 140px;
    height: 140px;
}

.marketing-heading{
    font-weight: 400;
    color: #7d8f9b;
}

.marketing-text {
    margin: 0 .75rem 0 .75rem;
    color: grey;
}

#screenWork {
    margin-top: 4rem;
}

.work-header {
    color: #7d8f9b;
}



.section-header{
    color: #7d8f9b;
}

.contact-section{
    padding-top: 4rem;
}

.news {
    margin-top: 1rem;
}

.news-header {
    color: rgb(114, 114, 114);
}

.news-text {
    color: grey;
}

.date-text {
    color: rgb(189, 189, 189);
}

.remove-underline {
    text-decoration: none
}

.news-img {
    margin-right: 2rem;
    width: 15rem;
    height: 100%;
    display: flex;
    align-self: center;
}

.tweet {
    margin-top: 1rem;
}

.tweet-text {
    color: grey;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-content-copyright {
    color: grey;
}

.footer-soc-med-img {
    width: 2rem;
}